{
    "trailingComma": "es5",
    "semi": true,
    "singleQuote": true,
    "printWidth": 50,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "tabWidth": 2,
    "useTabs": true,
    "jsxBracketSameLine": false

}